@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Light-webfont.ttf');
}

html, body {
	font-family: "Roboto"!important;
}

.logo {
	padding-top: 20px !important;
}

.card.card-skill {
  min-height:227px  !important;
}

.card.card-achievement {
	min-height:300px !important;
}

.card[class*="card-"]:hover {
	box-shadow: 0 0px 15px rgba(0, 0, 0, 0.20), 0 0 0 1px rgba(66, 63, 68, 0.20);
	cursor: pointer;
}

.profile-name {
	font-size:1.5em;
	overflow:hidden;
	color:white;
}

.profile-title {
	font-size:1.2em;
	overflow:hidden;
	color:white;
}

.avatar {
	 margin-top: 10px;
}

.add-skill {
  color: purple;
  font-size:10em;
  font-weight:100!important;
}

.add-achievement {
  color: purple;
  font-size:10em;
  font-weight:100!important;
  padding-top:25px;
}


.br-widget a {
	font-size:30px!important;
}

.wrapper-img {
  position: relative;
  overflow: hidden;
  height: 150px;
  background: #dad1d1;
}

.wrapper-img:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.wrapper-img img {
  width: auto;
  height: 100%;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.wrapper-img img.left{
  left:16%!important;
}

.wrapper-img.nobg {
  background: none!important; 
  margin: 20px 0;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #d2cfcf80;
}

.wrapper-img:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}

.checked {
    color: orange;
}

.card-title {
	font-size: 27px;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.avatar {
margin: 0 auto;
width: 100%;
height: auto;
max-height: 124px;
/*border: 5px solid #FFFFFF;
position: relative;
/*margin-bottom: 15px;*/
}

.profilename {
  margin-top: 10px;
  text-transform: capitalize;
}

.profiletitle {
  margin-top: -15px;
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  .logo{
    display: none;
  }
}